    body {
      font-family: Arial, sans-serif;
      margin: 20px;
      line-height: 1.6;
      background: #ffffff;
    }

   header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #F9F9F9;
    color: black;
    padding: 5px 15px;   
    position: sticky;
    top: 0;
    gap: 15px;
    border-bottom: 3px solid #003366;
}

.izquierda, .derecha {
    display: flex;
    color: black;
    align-items: center;
    gap: 8px;
}

header h1 {
    font-size: 24px;  
    margin: 0;
    line-height: 1;
    color: #003366;
}

.derecha h2 {
    color: #003366;
    font-size: 16px;
    margin: 0;
    line-height: 1;
}


#inputBusqueda {
    width: 200px;
    padding: 4px 8px;
    font-size: 14px;
    border: 2px solid #ccc;
    border-radius: 6px;
}

    section {
      margin-bottom: 40px;
      padding: 20px;
      border: 2px solid #0077ff;
      border-radius: 10px;
      background: #eef6ff;
    }

    h2 {
      color: #0055cc;
    }

    h3 {
      color: #003366;
    }

    ul {
      margin-left: 20px;
    }

    a {
      color: #0066ff;
      text-decoration: underline;
    }


footer {
    background-color: black;
    color: white;
    text-align: center;

}